@using Microsoft.AspNetCore.Identity

@* @inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager *@

@inject SignInManager<IzinModul.DataContext.DbModels.Employee> SignInManager
@inject UserManager<IzinModul.DataContext.DbModels.Employee> UserManager




@* @inject IHttpContextAccessor HttpContextAccessor 
 *@
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="nav">
                    <a  asp-area="Identity" style="padding-right:15px;padding-top:20px;"  asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>

                </div>
              
              
            </li>
            <li>
                <div class="buton">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </div>
            </li>
        </ul>
        
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <div class="loginout">
            <li><button><a asp-area="Identity" asp-page="/Account/Register">Register</a></button></li>
            <li><button><a asp-area="Identity" asp-page="/Account/Login">Login</a></button></li>
        </div>
       
    </ul>
}
<style>
 
  
    

</style>            